<h1><%= @doctor.name %></h1>
<h3><%= @doctor.specialty %></h3>
<h3><%= @doctor.university %></h3><br><br>
<h2><%= @doctor.hospital.name %></h2>
<strong>Patients:</strong>
<% @doctor.patients.each do |patient| %>
<div class="patient-<%= patient.id %>">
    <p><%= patient.name %></p>
        <%= button_to "Remove #{patient.name}", doctor_path(@doctor), method: :delete%>
    </div>
<% end %>
<strong>Add Patient</strong>
<%= render partial: 'form', locals: { method: :post, url: doctor_patients_path, class: 'patient_form', local: true}%>